
body{
    background-color: darkgoldenrod
}
#principal{
    background-color: blue;
    width: 100%;
    height: 200px;
    border: 1px solid black;
    margin-bottom: 5px;
   
}
.clase1{
    
    background-color: brown;
    width: 50%;
    height: 1000px;
    border: 1px solid black;
    margin-bottom: 5px;
   
}
.clase3{
    
    background-color: brown;
    width: 50%;
    height: 1000px;
    border: 1px solid black;
    margin-bottom: 5px;
    
}
.clase2{
    
    background-color: green;
    width: 100%;
    height: 150px;
    border: 1px solid black;

}
ul li:nth-child(3){
    color: cyan
}
ul li:hover{
    color: yellow;
    font-size: 25px;
}
.clase1::after{
    content: "&";
}
h2{
    font-family: 'Eater', cursive;
    color: red
}